* {
    background-color: #e4ccea;
}

.sidebar {
    height: 100%;
    width: 150px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #eeeeee;
    padding: 10px;
    box-sizing: border-box;
}

.content {
    margin-left: 150px;
}