* {
    background-color: #e4ccea;
}

.sidebar {
    height: 100%;
    width: 150px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #eeeeee;
    padding: 10px;
    box-sizing: border-box;
}

.content {
    margin-left: 150px;
}

a {
    color: black;
    text-decoration: none;
    background-color: transparent;
}

footer {
    text-align: center;
    background-color: #e4ccea;
}

.footer-content {
    text-align: center;
    align-items: center;
    padding: 10px;
}

footer img {
    height: 30px;
    width: auto;
    margin: 3px;
}